<header id="fh5co-header-section" class="sticky-banner">
    <div class="container">
        <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
            <h1 id="fh5co-logo"><a href="/"><i class="icon-home"></i>RKP<span>rental</span></a></h1>
            <!-- START #fh5co-menu-wrap -->
            <%if(user){%>
            <nav id="fh5co-menu-wrap" role="navigation">
                <ul class="sf-menu" id="fh5co-primary-menu">
                    <li class="active"><a href="/">መነሻ ገፅ</a></li>
                    <li><a href="/rental_form">ለማከራየት</a></li>
                    <li><a href="/available_homes">ለመከራየት </a></li>
                    <li><a href="/chatbox">ውይይት</a></li>
                    <li><a href="/saved-homes"><i class="bi bi-cart postion-relative"  style="font-size: 2rem; color: crimson;"> 
                        <span class=" small position-absolute top-0 start-50" id="cart_value" style="font-size: 1.5rem; color: crimson;"> 
                         <%= displayer%></span>
                                                </i>
                    </a> </li> 
                    
                    <input type="text" class="value cart" size="1" value="<%= displayer%>" hidden> 
    
                    <%
                    if(1<2){
                        const amh = 'amharic';
                        const eng = 'english';
                    %>
                    <li>
                        <a  class="fh5co-sub-ddown">ቋንቋ</a>
                        <ul class="fh5co-sub-menu">
                            <li><a href="/language_preference/<%=amh%>">አማርኛ <picture></picture></a></li>
                            <li><a href="/language_preference/<%=eng%>">እንግሊዝኛ</a></li>
                        
                        </ul>
                    </li>
                    <%}%>
                    
                    <li>
                        <%
                    if(!(naveprofile==='')){
                    %>
                   <a > <img src="/profile_picture/<%=naveprofile%>" class="rounded-circle" style="width: 35px;"
                            alt="Avatar" /> </a>
                            <ul class="fh5co-sub-menu">
                            <li><a href="/profile/<%= user._id %>">መገለጫ <picture></picture></a></li>
                            <li><a href="/posts/<%= user._id %>">ለጥፍ</a></li>
                            <li><a href="/log_out">ውጣ</a></li>
                            
                        </ul>
                        
                    <%} else{      
                        %>
                        <a ><img src="/random_person.jpg" class="rounded-circle" style="width: 35px;"
                                alt="Avatar" /></a>
                                <ul class="fh5co-sub-menu">
                            <li><a href="/profile/<%= user._id %>">መገለጫ <picture></picture></a></li>
                            <li><a href="/posts/<%= user._id %>">ለጥፍ</a></li>
                            <li><a href="/log_out">ውጣ</a></li>
                            
                        </ul>
                  
                    <% }%>  
                    </li>
                </ul>
            </nav>
            <%} else{%>    
                <ul class="sf-menu" id="fh5co-primary-menu">
                    <li><a href="/log_in">Sign in</a></li>
                </ul>
                    </ul>
                    
                <%}%>
        </div>
    </div>
</header>
<script>
        var cartNumber;
        cartNumber = document.querySelector(".value.cart").value;
</script>
